PRISMA_DATABASE_URL=postgresql://postgres:postgres@postgres:5432/folki
NODE_ENV=development
API_KEY=dummy
JWT_SECRET=dummy
ONESIGNAL_APP_ID=
ONESIGNAL_API_KEY=
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SQS_NOTIFICATION_QUEUE_URL=
AWS_SQS_WEEKLY_ACTIVITIES_QUEUE_URL=
AWS_SQS_WEEKLY_ABSENCES_QUEUE_URL=
AWS_SQS_WEEKLY_IMPORTANT_DATE_QUEUE_URL=
AWS_SQS_POST_NOTIFICATION_QUEUE_URL=
AWS_BUCKET_NAME=
